@model InventarioPaldaca.Models.ViewModels.ListaActivosViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="container form-container">
    <div class="row">
        <div class="col-12">
            <h2 class="form-title">Activos</h2>
        </div>
    </div>
    <hr class="linea" />
    <!-- Sección de estadísticas -->
    <div class="row stats-container text-center">
        <div class="col-md-4">
            <div class="card stat-item bgcolorazul">
                <div class="card-body">
                    <div class="stat-icon">🔄</div>
                    <h3 class="card-title">Total de Activos</h3>
                    <p class="stat-number">@Model.TotalActivos</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card stat-item bgcolorazul">
                <div class="card-body">
                    <div class="stat-icon">🛒</div>
                    <h3 class="card-title">In Stock</h3>
                    <p class="stat-number">555</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card stat-item bgcolorazul">
                <div class="card-body">
                    <div class="stat-icon">❌</div>
                    <h3 class="card-title">Out Stock</h3>
                    <p class="stat-number">556</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de acciones -->
    <div class="row actions-container text-center mt-4">
        <div class="col-md-4">
            <div class="card action-item">
                <div class="card-body">
                    <h4 class="card-title">Agregar Usuario</h4>
                    <p class="card-text">Agrega un nuevo usuario al sistema</p>
                    <a asp-area="" asp-controller="Usuario" asp-action="Create" class="Btn">Agregar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card action-item">
                <div class="card-body">
                    <h4 class="card-title">Inventario</h4>
                    <p class="card-text">Ver los activos del inventario</p>
                    <a asp-area="" asp-controller="Activo" asp-action="Index" class="Btn">Ver lista</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card action-item">
                <div class="card-body">
                    <h4 class="card-title">Agregar nuevo activo</h4>
                    <p class="card-text">Agrega un nuevo producto al inventario</p>
                    <a asp-area="" asp-controller="Activo" asp-action="Create" class="Btn">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>


